@page
@model ForgotPasswordModel
@section Styles { <link rel="stylesheet" href="~/css/identity/auth.css" asp-append-version="true" /> }
@{ ViewData["Title"] = "Forgot your password?"; }


<div class="signin-container">
    <div class="signin">
        <section>
            <form method="post">
                <h2>Forget Password</h2>
                <p>Enter you email to reset your password. To sign in go to <a asp-page="./Login">Sign in</a>.</p>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-box">
                    <label asp-for="Input.Email" class="title">Email</label>
                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email Address" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="submit-button">Reset Password</button>
            </form>
        </section>
    </div>
    <img src="~/img/l1.png" class="l1" />
    <img src="~/img/l2.png" class="l2" />
    <img src="~/img/auth.png" class="auth" />
</div>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }
