@{ ViewData["Title"] = "Error"; }

<div class="common-error-wrapper">
    <div class="inner">
        <img src="~/img/error.png" alt="" />
        <h1>Product Not Found</h1>
        <p>Soory, we haven't find any product.</p>
    </div>
</div>