@model Coupon;

<div class="delete-modal-container">
    <div class="delete-modal">
        <img src="~/img/admin/delete.png"/>
        <h1>Delete Coupon?</h1>
        <p>Are you sure to delete <b>'@(Model.Name)'</b> coupon? If you delete this coupon It will disapear from system.</p>
        <form 
            class="button-box"
            asp-controller="Coupon"
            asp-action="Delete"
            method="post"
        >
            <input asp-for="@Model.Id" value="@Model.Id" hidden />
            <div class="btn" id="coupon-delete-close-btn">Cancel</div>
            <button class="btn">Delete</button>
        </form>
    </div>
</div>