@section Styles { <link rel="stylesheet" href="~/css/admin/coupons.css" asp-append-version="true" /> }
@{ ViewData["Title"] = "Coupons"; }

<div class="coupon">
    <div class="heading">
        <div class="heading-name">
            <h2>Coupons</h2>
        </div>
    </div>
</div>