@model ShippingService

<div class="createService-modal-container">
    <div class="createService-modal">
        <img src="~/img/admin/goods-truck.png" />
        <div class="btn" id="service-create-btn-close" onclick="closeServiceCreateModal()">
            <i class="iconoir-cancel"></i>
        </div>
        <form 
            class="create-box"
            asp-controller="Shipping"
            asp-action="CreateShippingService"
            method="post"
        >
            <input type="text" asp-for="@Model.Id" id="serviceId" hidden />
            <input type="text" asp-for="@Model.Feature" placeholder="Enter service description" id="serviceFeature"/>
            <span asp-validation-for="@Model.Feature"></span>
            <button class="btn" id="submitBtn">Add New Service</button>
        </form>
    </div>
</div>