<div class="empty-cart">
    <div class="empty-cart-inner">
        <div class="wrapper">
            <div class="image">
                <img src="~/img/customer/empty-cart.png" />
            </div>
            <h2>Your cart is empty</h2>
            <p>Check our catalog and find something for you</p>
            <a
                asp-area="Customer"
                asp-controller="Products"
                asp-action="Index"
            >
                Catalog
            </a>
        </div>
    </div>
</div>