@section Styles { <link rel="stylesheet" href="~/css/customer/Checkout.css" asp-append-version="true" /> }
@{ ViewData["Title"] = "Checkout"; }

<form
    class="checkout-page"
>
    <div class="checkout-container">
        <h1 class="primary-heading">Checkout</h1>

        <div class="checkout-info">
            <div class="info">
                <div class="info-inner">
                    <h5>Shipping Address</h5>

                    <div class="form-box">
                        <div class="g-100">
                            <label>Full Name*</label>
                            <input type="text" placeholder="Enter your full name" />
                        </div>
                    </div>
                    <div class="form-box">
                        <div class="g-50">
                            <label>Phone*</label>
                            <input type="text" placeholder="Enter your phone number (only digits)" />
                        </div>
                        <div class="g-50">
                            <label>Email*</label>
                            <input type="text" placeholder="Enter your email address" />
                        </div>
                    </div>
                    <div class="form-box">
                        <div class="g-100">
                            <label>Address*</label>
                            <input type="text" placeholder="Enter your village / city " />
                        </div>
                    </div>
                    <div class="form-box">
                        <div class="g-50">
                            <label>Thana*</label>
                            <input type="text" placeholder="Enter your Thana" />
                        </div>
                        <div class="g-50">
                            <label>District*</label>
                            <input type="text" placeholder="Enter your email district" />
                        </div>
                    </div>
                    <div class="form-box">
                        <div class="g-100">
                            <label>Postal Code*</label>
                            <input type="text" placeholder="Enter your postal code" />
                        </div>
                    </div>
                </div>

                <div class="info-inner">
                    <h5>Shipping Methods</h5>

                    <div class="form-checkbox">
                        <input type="radio" id="fast" name="radio-group" value="৳ 100" checked>
                        <label for="fast">
                            <div>
                                <h6>Fast Shiping</h6>
                                <p>01-03 business days</p>
                            </div>
                            <div>
                                <h6>৳ 100</h6>
                            </div>
                        </label>
                    </div>
                    <div class="form-checkbox">
                        <input type="radio" id="regular" name="radio-group" value="৳ 50">
                        <label for="regular">
                            <div>
                                <h6>Regular Shiping</h6>
                                <p>03-14 business days</p>
                            </div>
                            <div>
                                <h6>৳ 50</h6>
                            </div>
                        </label>
                    </div>
                    <div class="form-checkbox">
                        <input type="radio" id="free" name="radio-group" value="৳ 00">
                        <label for="free">
                            <div>
                                <h6>Free Shiping</h6>
                                <p>07-30 business days</p>
                            </div>
                            <div>
                                <h6>৳ 00</h6>
                            </div>
                        </label>
                    </div>
                </div>
            </div>

            <div class="summary-container">
                <div class="summary">
                    <div class="summary-inner">
                        <h5>Apply Discount</h5>
                        <div class="coupon-box">
                            <input type="text" placeholder="Enter discount code"/>
                            <div class="apply-btn">Apply</div>
                        </div>

                        <h5>Order Summary</h5>
                        <div class="info">
                            <div class="label">Subtotal</div>
                            <div class="value">৳ 200</div>
                        </div>
                        <div class="info">
                            <div class="label">Discount</div>
                            <div class="value">-৳ 00</div>
                        </div>
                        <div class="info">
                            <div class="label">Shipping Cost</div>
                            <div class="value" id="selected-shipping-cost">৳ 100</div>
                        </div>
                        <div class="info last">
                            <div class="label">Grand Total</div>
                            <div class="value">৳ 310</div>
                        </div>
                        <button>Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts { <script src="~/js/customer/checkout.js" asp-append-version="true"></script> }