@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

:root {
    --color-primary: #fee5ca;
    --color-primary2: #f7dcc0;
    --color-secondary: #b00e2f;
    --color-secondary2: #9e0d2a;
    --color-tertiary: #635FD9;
    --color-tertiary2: #726FBF;
    --color-white: #f7f7fa;
    --color-input-background: #f5f6f7;
    --color-border: #383737;
    --color-admin-text: #444;
    --font-bebas: "Bebas Neue", sans-serif;
    --font-barlow: "Barlow", sans-serif;
    --font-fajalle: "Fjalla One", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: var(--font-barlow);
    font-size: 1.1vw;
    font-weight: 300;
}

/* HEADING */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-fajalle);
    text-transform: uppercase;
}

/* NAVIGATION */
.navigation {
    position: fixed;
    top: 0.6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 4rem;
    background-color: #f7dcc0;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.navigation-container {
    width: calc(100% - 1rem);
    height: 3rem;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    background-color: var(--color-primary);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-container .brand {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 8rem;
    border-radius: 0.5rem;
}

.navigation-container .brand a {
    text-decoration: none;
    color: var(--color-secondary);
    font-family: var(--font-fajalle);
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.navigation-container .brand img {
    height: 1.5rem;
}

.navigation-container .links {
    display: flex;
    align-items: center;
}

.navigation-container .links a {
    display: block;
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: 400;
    margin-left: 1.5rem;
}

.navigation-container .links a.block {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background: #f7dcc0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-container .links a.block:last-child {
    margin-left: 0.5rem;
}

.navigation-container .links a.link {
    position: relative;
}

.navigation-container .links a.link::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--color-secondary);
    left: 50%;
    top: -8px;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.3s;
}

.navigation-container .links a.link:hover::before {
    opacity: 1;
    top: -5px;
}

.navigation-container .links a.active::before {
    opacity: 1;
    top: -5px;
}

/* PRODUCT */
.aproduct {
    width: 18%;
    height: 20rem;
    background: var(--color-white);
    border-radius: 0.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.6rem;
}

.aproduct .product-link {
    display: block;
    width: 100%;
    height: 20rem;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--color-secondary);
}

.aproduct .product-link .inner,
.aproduct .product-link .inner-circle,
.aproduct .product-link .content-box {
    position: absolute;
    transition: 0.3s;
}

.aproduct .product-link .inner,
.aproduct .product-link .content-box {
    width: 100%;
    height: 20rem;
    border-radius: 0.5rem;
}

.aproduct .product-link .inner {
    top: 100%;
    background-color: #fef2e4;
    z-index: 2;
}

.aproduct .product-link .inner-circle {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    z-index: 4;
}

.aproduct .product-link:hover .inner-circle {
    transform: translate(-50%, -50%) scale(1);
}

.aproduct .product-link:hover .inner {
    top: 0;
}

.aproduct .product-link .content-box {
    z-index: 3;
}

.aproduct .product-link .image {
    text-align: center;
    display: flex;
    justify-content: center;
}

.aproduct .product-link .image,
.aproduct .product-link .image img {
    height: 14rem;
}

.aproduct .product-link .content {
    padding: 0 1rem;
}

.aproduct .product-link .content h3 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0;
}

.aproduct .product-link .content p {
    font-size: 13px;
    margin-bottom: 0.5rem;
}

.aproduct .product-link .content h2 {
    margin-top: 0.5rem;
}

.aproduct .product-link .content h2 span {
    font-family: var(--font-bebas);
    font-weight: normal;
    font-size: 2rem !important;
}

.aproduct .product-link .cart-button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: var(--color-white);
    position: absolute;
    bottom: 2rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.aproduct .product-link .cart-button .wrapper {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: relative;
}

.aproduct .product-link .cart-button .wrapper .cart-button-text,
.aproduct .product-link .cart-button .wrapper .cart-button-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aproduct .product-link .cart-button .wrapper .cart-button-text {
    font-size: 1.3rem;
    color: var(--color-white);
    transition: 0.3s;
}

.aproduct .product-link .cart-button .wrapper .cart-button-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 2.77rem;
    height: 2.77rem;
    border-radius: 50%;
    transition: 0.3s;
    background: var(--color-primary);
}

.aproduct .product-link .cart-button .wrapper:hover .cart-button-circle {
    transform: translate(-50%, -50%) scale(1);
}

.aproduct .product-link .cart-button .wrapper:hover .cart-button-text {
    color: var(--color-secondary);
}


.layout {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.layout .layout-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
}

/* MENU */
.layout .menu {
    width: 15%;
    background: var(--color-white);
    border-right: 1px solid #dddde1;
}

.layout .menu .banner {
    height: 8vh;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    font-family: var(--font-fajalle);
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-tertiary);
}

.layout .menu .menu-wrapper {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92vh;
}

.layout .menu .menu-link {
    width: 100%;
    height: 2.2rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #4d4e4f;
    border-radius: 0.2rem;
    padding: 0 1rem;
    font-weight: 400;
    transition: 0.3s;
}

.layout .menu .menu-link:hover {
    background: #f5f6fa;
}

.layout .menu .menu-link i {
    margin-right: 0.5rem;
    background-color: transparent;
}

.layout .menu .menu-link.active {
    background: var(--color-tertiary);
    color: var(--color-white);
}

/* CONTENT */
.layout .content {
    width: 85%;
}

.layout .content .top-menu {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: var(--color-white);
    border-bottom: 1px solid #dddde1;
}

.layout .content .top-menu .menu-item {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4d4e4f;
}

.layout .content .top-menu .menu-item:last-child {
    background: #f5f6fa;
    margin-right: 3rem;
    width: 2.4rem;
    height: 2.4rem;
}

.layout .content .main-container {
    width: 100%;
    height: 100%;
    background: #f3f4f5;
}

/* ERROR */
.layout .error-wrapper {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.layout .error-wrapper .inner {
    text-align: center;
}

.layout .error-wrapper h1,
.layout .error-wrapper p {
    text-align: center;
}

.layout .error-wrapper p {
    color: #4d4e4f;
    font-size: 2rem;
}

.layout .error-wrapper h1 {
    font-size: 4rem;
    color: var(--color-tertiary);
    margin-top: -3.5rem;
    margin-bottom: 0.5rem;
}

.layout .error-wrapper img {
    margin-top: -5rem;
    height: 50vh;
}

.common-error-wrapper {
    width: 100%;
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.common-error-wrapper .inner {
    text-align: center;
}
.common-error-wrapper .inner img {
    height: 40vh;
    margin-top: -2rem;
}

.common-error-wrapper .inner h1 {
    color: var(--color-admin-text);
    margin-bottom: 0.5rem;
}

.common-error-wrapper .inner p {
    color: #4d4e4f;
}

/* Common Create Page */
.addCreateCommon {
    position: relative;
}

.addCreateCommon .heading {
    width: 100%;
    height: 3.5rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addCreateCommon button-box {
    width: fit-content;
    display: flex;
}

.addCreateCommon .heading h2 {
    display: inline-block;
    font-family: var(--font-barlow);
    text-transform: capitalize;
    color: var(--color-admin-text);
}

.addCreateCommon .heading a,
.addCreateCommon .heading .heading-button {
    text-decoration: none;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: var(--color-tertiary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    margin-left: 1rem;
    cursor: pointer;
}

.addCreateCommon .heading a {
    background: #dae0e5;
    color: var(--color-admin-text);
}

.addCreateCommon .heading a i,
.addCreateCommon .heading .heading-button i {
    transition: all 0.3s;
}

.addCreateCommon .heading a:hover i,
.addCreateCommon .heading .heading-button:hover i {
    transform: scale(1.2);
}

.addCreateCommon .common-container {
    height: 92vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.addCreateCommon .common-container::-webkit-scrollbar-track {
    background-color: #F6F7FA;
}

.addCreateCommon .common-container::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.addCreateCommon .common-container::-webkit-scrollbar-thumb {
    background-color: var(--color-admin-text);
    border-radius: 10px;
}

/* Common Delete Modal */
.delete-modal-container {
    width: 100%;
    height: 92vh;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.delete-modal{
    width: 30%;
    height: 70vh;
    background: var(--color-white);
    position: relative;
    border-radius: 0.3rem;
    padding: 1rem;
    text-align: center;
}

.delete-modal img {
    height: 35vh;
    margin-block: 1rem;
}

.delete-modal h1,
.delete-modal p {
    font-size: 1.5rem;
    color: #444;
    text-align: center
}

.delete-modal p {
    font-size: 0.9rem;
}

.delete-modal p b {
    font-weight: 600;
}

.delete-modal .btn {
    text-decoration: none;
    width: 10rem;
    height: 3rem;
    padding: 0 1rem;
    font-family: var(--font-barlow);
    font-size: 0.9rem;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 0.5rem; 
}

.delete-modal button {
    padding: 0;
    background: #d11a2a;
    color: var(--color-white);
}

.delete-modal button:hover {
    background: #a71522;
    color: var(--color-white);
}

.delete-modal input {
    display: none;
}

#product-delete-close-btn,
#category-delete-close-btn {
    background: #dae0e5;
    color: var(--color-admin-text);
}

#product-delete-close-btn:hover,
#category-delete-close-btn {
    background: #aeb3b7;
}

@media only screen and (max-width: 1300px) {
    .layout .layout-wrapper {
        display: none;
    }

    .layout .error-wrapper {
        display: flex;
    }
}


@media only screen and (max-width: 600px) {
    .navigation {
        top: 3rem;
        width: 90%;
        height: 16rem;
        border-radius: 1.5rem;
    }

    .navigation-container {
        width: calc(100% - 4rem);
        height: 12rem;
        margin-left: 2rem;
        padding: 0 2rem;
    }

    .navigation-container .brand {
        height: 8rem;
        min-width: 8rem;
    }

    .navigation-container .brand a {
        font-size: 3rem;
        letter-spacing: 1px;
    }

    .navigation-container .brand a img {
        height: 6rem;
    }

    .navigation-container .brand a span {
        display: none;
    }

    .navigation-container .links {
        display: flex;
        align-items: center;
    }

    .navigation-container .links a {
        font-size: 3rem;
        margin-left: 4rem;
    }

    .navigation-container .links a.block {
        width: 8rem;
        height: 8rem;
    }

    .navigation-container .links a.block:last-child {
        margin-left: 2rem;
    }

    a.block img {
        width: 5rem;
    }

    .navigation-container .links a.block:hover img {
        transform: scale(0.8);
    }

    .navigation-container .links a.link {
        position: relative;
    }

    .navigation-container .links a.link::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: var(--color-secondary);
        left: 50%;
        top: -8px;
        transform: translateX(-50%);
        opacity: 0;
        transition: 0.3s;
    }

    .navigation-container .links a.link:hover::before {
        opacity: 1;
        top: -5px;
    }

    .aproduct {
        width: 48%;
        height: 50rem;
        border-radius: 1rem;
    }

    .aproduct .product-link {
        height: 50rem;
        border-radius: 1rem;
    }

    .aproduct .product-link .inner,
    .aproduct .product-link .content-box {
        height: 50rem;
        border-radius: 1rem;
    }

    .aproduct .product-link .image,
    .aproduct .product-link .image img {
        height: 35rem;
    }

    .aproduct .product-link .content {
        padding: 0 3rem;
    }

    .aproduct .product-link .content h3 {
        font-size: 3rem;
    }

    .aproduct .product-link .content p {
        font-size: 10px;
    }

    .aproduct .product-link .content h2 {
        font-size: 4.5rem;
    }
}
