@{ ViewData["Title"] = "Error"; }

<div class="common-error-wrapper">
    <div class="inner">
        <img src="~/img/category-not-found.png" alt="" />
        <h1>Category Not Found</h1>
        <p>Soory, we haven't find any category.</p>
    </div>
</div>