@{ ViewData["Title"] = "Error"; }

<div class="common-error-wrapper">
    <div class="inner">
        <img src="~/img/error.png" alt="" />
        <h1>Category Not Found</h1>
        <p>Soory, we haven't find any category.</p>
        <a asp-area="Admin"
           asp-controller="Categories"
           asp-action="Create"
       >
        Create a new category
       </a>
    </div>
</div>