<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coolaty ・ @ViewData["Title"]</title>
    <link rel="icon" href="~/img/logo.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", false)
</head>
<body>
    <nav class="navigation">
        <div class="navigation-container">
            <div class="brand">
                <a 
                   class="link"
                   asp-area="Customer"
                   asp-controller="Home"
                   asp-action="Index"
                >
                    <img src="~/img/logo.png" alt="" />
                    <span>COOLATY</span>
                </a>
            </div>
            <div class="links">
                <a 
                   class="link"
                   asp-area="Customer"
                   asp-action="Index"
                   asp-controller="Home"
                >
                    Home
                </a>
                <a 
                   class="link"
                   asp-area="Customer"
                   asp-action="Index"
                   asp-controller="Products"
                >
                    Products
                </a>
                <a href="#" class="link">FAQ</a>
                <a href="#" class="block">
                    <i class="iconoir-shopping-bag-alt"></i>
                </a>
                <div href="" class="block" id="sublinks-btn">
                    <i class="iconoir-user"></i>
                </div>
            </div>
            <div class="sublinks" id="sublinks">
                @Html.Partial("_LoginPartial.cshtml")
             </div>
        </div>
    </nav>
    <section class="main-section">
        @RenderBody()
    </section>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
