@model NotFoundForAdminVM;

<div class="common-error-wrapper">
    <div class="inner">
        <img src="~/img/admin/error.png" alt="" />
        <h1>@Model.Heading</h1>
        <p>@Model.Message</p>
    </div>
</div>