@section Styles { <link rel="stylesheet" href="~/css/customer/products.css" asp-append-version="true" /> }
@{ ViewData["Title"] = "Products"; } 
@model ProductListWithCategoryVM

<div class="products @(Model.Category != null && Model.Category.Count() == 0 ? "all-empty" : "")"
>
    <div class="products-conteiner">
        <h1>CATALOG</h1>

        <div class="filter-container">
            @if (Model.Category != null && Model.Category.Count() > 0)
            {
                @foreach (var category in Model.Category)
                {
                    <a 
                        href="@Url.Action("Index", "Products", new { category = category.Name })"
                        class="filter-block @(Context.Request.Query["category"].ToString() == category.Name ? "active" : "")"
                    >
                        <img src="@(string.Format("data:image/png;base64,{0}", category.ImageUrl))" alt="" />
                    </a>
                }
            }
        </div>

        <div class="product-box">
            @if (Model.Product != null && Model.Product.Count() > 0)
            {
                @foreach (var product in Model.Product)
                {
                    @await Html.PartialAsync("~/Views/Shared/_Product.cshtml", product)
                }
            }
            else
            {
                <div class="empty-container">
                    <div class="empty-container-inner">
                        <div class="wrapper">
                            <div class="image">
                                <img src="~/img/customer/search-not-found.png" />
                            </div>
                            <h1>PRODUCT NOT FOUND</h1>
                            <p>Sorry we are unable to find any product.</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>