@section Styles { <link rel="stylesheet" href="~/css/products.css" asp-append-version="true" /> }
@{ ViewData["Title"] = "Products"; } 
@model IEnumerable<Product>

<div class="products">
    <div class="products-conteiner">
        <h1>CATALOG</h1>
        <p>Here are some of our products</p>

        <div class="filter-container">
            <a 
               href="@Url.Action("Index", "Products", new { category = "classic" })"
               class="filter-block @(Context.Request.Query["category"].ToString() == "classic" ? "active" : "")"
            >
                <img src="~/img/ice-cream.png" alt="" />
            </a>
            <a 
               href="@Url.Action("Index", "Products", new { category = "cup" })"
               class="filter-block @(Context.Request.Query["category"].ToString() == "cup" ? "active" : "")"
            >
                <img src="~/img/frozen-yogurt.png" alt="" />
            </a>
        </div>

        <div class="product-box">
            @if (Model != null && Model.Count() > 0)
            {
                @foreach (var product in Model)
                {
                    @await Html.PartialAsync("~/Views/Shared/_Product.cshtml", product)
                }
            }
            else
            {
                <div class="error-container">
                    <img src="~/img/closed.png" alt="">
                    <h1>PRODUCT NOT FOUND</h1>
                    <p>Sorry we are unable to find any product.</p>
                </div>
            }
        </div>
    </div>
</div>