@section Styles { <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" /> }
@model ProductListWithCategoryVM
@{ ViewData["Title"] = "Home"; }
@{ ViewData["FirstCategoryName"] = Model.Category.FirstOrDefault()?.Name; }

<div class="home">
    <!-- BANNER -->
    <div class="banner">
        <div class="image-container">
            <img src="~/img/2.jpg" alt="" />
        </div>
        <div class="text-block-1">
        <span>A Bright Map Of Taste *</span> A Bright Map Of Taste *
        <span>A Bright Map Of Taste</span>
        </div>
        <div class="text-block-2">
        Natuaral Products <span>* Natuaral Products</span> * Natuaral
        Products
        </div>
        <div class="text-block-3">
        <span>We always check the quality * </span>We always check the
        quality * <span>A Bright Map Of Taste</span>
        </div>
    </div>

    <!-- ABOUT US -->
    <div class="about-us">
        <h1>
            <div>WHO HAS TRIED IT,</div>
            <div>KNOWS EVERYTHING. THOSE WHO HAVEN'T</div>
            <div>- GET READY FOR THE DOPAMINE</div>
            <div>THIRST OF "THAT VERY TASTE"</div>
        </h1>
        <div class="image-container">
            <div class="image-container-inner">
                <img src="~/img/about_0_1000x0_563.webp" alt="" class="center-image" />
                <img src="~/img/cloud_small.2829b4c4.webp" alt="" class="cloud-image-1" />
                <img src="~/img/cloud_large.99b08244.webp" alt="" class="cloud-image-2" />
            </div>
        </div>
    </div>

    <!-- More ABOUT US -->
    <div class="more-about-us">
        <div class="image-container-1">
            <img src="~/img/about_1_600x0_e1c.webp" alt="" />
        </div>
        <div class="text-container">
        <h1>
            We take pride in sourcing superior quality Ingrefients worldwide
            and create super-premium ice creams with magic of Coolaty.
        </h1>
        <p>
            Our goal is not ice cream. It would be quite simple. We need to
            make you "touched" when you, for example, bite into an Eskimo. It
            is difficult to do, but we do it.
        </p>
        <p>
            How? We do not tolerate simplifications: neither in tastes, nor in
            ingredients, nor in production. Pistachio, for example, we buy on
            a farm in the Bronte region, Sicily. We order Alfonso mango from
            India, and chocolate is brought to us directly from Belgium. Our
            Japanese matcha tea is exclusively of the Sagano variety.
        </p>
        <a href="" class="button-link">
            <div class="circle">
            <div class="inner-circle"></div>
            <div class="icon">
                <i class="iconoir-arrow-right"></i>
            </div>
            </div>
            <div class="text">About Us</div>
        </a>
        </div>
        <div class="image-container-2">
            <img src="~/img/about_2_600x0_e1c.webp" alt="" />
        </div>
    </div>
    <!-- PRODUCTS -->
    <div class="products">
        <h1>Our Products</h1>
        <div class="product-box">
        <div class="product">
            <a href="" class="product-link">
            <div class="inner"></div>
            <div class="content-box">
                <div class="image">
                <img src="~/img/passion fruit.png" alt="" />
                </div>
                <div class="content">
                <h3>Salted Caramel</h3>
                <p>Serving Weight 80R</p>
                <h2>80 <span>$</span></h2>
                </div>
            </div>
            <div class="inner-circle">😋</div>
            </a>
        </div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        </div>
        <a href="" class="button-link">
        <div class="circle">
            <div class="inner-circle"></div>
            <div class="icon">All Products</div>
        </div>
        </a>
    </div>

    <!-- BOX -->
    <div class="send-box">
        <div class="image-container" style="position: relative">
        <img src="~/img/4.png" alt="" />
        </div>
        <div class="button">
        <a href="" class="wrapper">
            <div class="inner-circle-1"></div>
            <div class="inner-circle-2">
            <div class="inner-circle-wrapper">
                <div class="inner-center-circle"></div>
                <div class="inner-text">BUY A BOX</div>
            </div>
            </div>
        </a>
        </div>
        <div class="text-container">
        <h2>
            IF YOU DO NOT WANT TO LEAVE YOUR OFFICE OR APARTMENT, COLLECT A
            PACK OF THE DESIRED FLAVORS.
        </h2>
        <h2>
            WE WILL DELIVER IT TO YOU: WE CAN IN A BRANDED PACKAGE, OR IN A
            GIFT BOX.
        </h2>
        </div>
    </div>
</div>